DAP_lab6_spark_task.txt
output/

# Run git status to group created/deleted/modified files in logical atomic commits

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Ruff
.ruff_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# LaTeX
2025_26_Distributed_Architectures_and_Programming_Lab6_Spark_Report_Joaquim_KELOGLANIAN.out
2025_26_Distributed_Architectures_and_Programming_Lab6_Spark_Report_Joaquim_KELOGLANIAN.aux
2025_26_Distributed_Architectures_and_Programming_Lab6_Spark_Report_Joaquim_KELOGLANIAN.log
2025_26_Distributed_Architectures_and_Programming_Lab6_Spark_Report_Joaquim_KELOGLANIAN.toc